<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="index.css" rel="stylesheet" />
</head>

<body>
  <header>
  </header>


  <ul>
  {{#each dates}}
    <li>
      <time>{{isoPublishDate}}</time>

      <section>
      {{#each articles}}
      <article>
          <details>
            <summary>
              {{title}}
              <span class="post-metadata">({{readingTimeInMin}} min | {{wordCount}} words)</span> 
            </summary>
            <div class="post-content">
              <a target="_blank" href={{link}}>{{description}}</a>
            </div>
            <!-- <p class="post-source">{{source.title}}</p> -->
          </details>
      </article>
      {{/each}}

      </section>
    </li>
  {{/each}}
  </ul>
</body>

</html>
